@import '~@fluentui/react/dist/sass/References.scss';

.recycledBook {
    border: 1px solid lightskyblue;
    background-color: lightcyan;
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    .cancelIcon{
        height:16px;
        width:16px;
        top:4px;
        margin-left:8px;
        color: lightskyblue;
        cursor: pointer;
    }
}